
.header{
    background-color: rgb(255, 248, 243);;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.pm-text {
    color: rgb(253, 110, 10);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: rgb(24, 24, 24);
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
    color: Dark 02;
}

.btn-pm {
    border-radius: 5px;

    background: rgb(253, 110, 10);
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
font-weight: 700;
padding: 18px 35px;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex; 
    align-items: center;
}

.banner .profile-pic{
    width: 500px;
}